//colores
$verdeagua: #7cea9c;
$azulmarino: #2d3047;
$negro: #071013;
$blanco: #ffffff;

//font
$lato: 'Lato', sans-serif;

//font-size
$black: 900;
$bold: 700;
$regular: 400;
$light: 300;

$vw_menu: 15vw;